<!--div class="list-wrapper" ng-show="show_list">
    <div class="item_photo">
        <ul>
            <li ng-repeat="place in places">
                <img ng-src="{{ place.image_url }}">
                <h3>{{ place.name }}</h3>
                <p ng-show="state.includes('**.home.**')">{{ place.type }}, {{ place.rating}}</p>
                <p ng-show="!state.includes('**.home.**')">{{ place.dist_from_me }} Km From You, {{ place.rating}} ☆</p>
            </li>
        </ul>
    </div>
</div-->