<h1>WELCOME</h1>


      <div align="center">

          <div class="text">
              <div>Where to?
                  <span>
                      TLV
                  </span>
              </div>
          </div>

          <input class="button" placeholder="Search..." />
          <script src='http://use.edgefonts.net/amaranth.js'></script>

      </div>
<div>
    <ul id = "listObjects">
        <li ng-repeat="place in places">
            <img ng-src="{{ place.image }}">
            <h3>{{ place.name }}</h3>
            <p>{{ place.description }}</p>
        </li>
    <!--li>
      <img src="images/02.jpg" >
      <h3>Paradise Found</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing.
          Nam quis justo in augue auctor imperdiet.Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing.
          Nam quis justo in augue auctor imperdiet.
      Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing.
          Nam quis justo in augue auctor imperdiet.</p>
    </li>
    <li>
      <img src="images/06.jpg" >
      <h3>Smoke On The Water</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing.
          Nam quis justo in augue auctor imperdiet.</p>
    </li>

    <li>
      <img src="images/07.jpg" >
      <h3>Headline</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent euismod ultrices ante,em ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet ac laoreet nulla vestibulum adipiscing.
          Nam quis justo in augue auctor imperdiet.</p>
    </li>
    <li>
      <img src="images/03.jpg" >
      <h3>Smoke On The Water</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing.
          Nam quis justo in augue auctor imperdiet.</p>
    </li>

    <li>
      <img src="images/04.jpg" >
      <h3>Headline</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing.
          Nam quis justo in augue auctor imperdiet.</p>
    </li>
       <li>
      <img src="images/05.jpg" >
      <h3>Paradise Found</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing.
          Nam quis justo in augue auctor imperdiet.Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing.
          Nam quis justo in augue auctor imperdiet.
      Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing.
          Nam quis justo in augue auctor imperdiet.</p>
    </li>

    <li>
      <img src="images/06.jpg" >
      <h3>Smoke On The Water</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing.
          Nam quis justo in augue auctor imperdiet.</p>
    </li>

    <li>
      <img src="images/07.jpg" >
      <h3>Headline</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent euismod ultrices ante,em ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing.
          Nam quis justo in augue auctor imperdiet.Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing.
          Nam quis justo in augue auctor imperdiet.
      Praesent euismod ultrices ante, ac laoreet ac laoreet nulla vestibulum adipiscing.
          Nam quis justo in augue auctor imperdiet.</p>
    </li-->
    </ul>
</div>
