<!DOCTYPE html>
<html >

<!--
<div>
    <ul class="menu">
      <li><a ui-sref=".bars" ui-sref-active="active">drink</a></li>
      <li><a ui-sref=".rests" ui-sref-active="active">eat</a></li>
    </ul>

    <ui-view></ui-view>
</div>
-->

<head>
  <meta charset="UTF-8">
  <title>Search box</title>
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Antic'>
  <link rel="stylesheet" href="../css/style_main.css">


</head>

<body>

    <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="index.html">HOME</a></li>
          <li><a href="index.html">EAT</a></li>
          <li><a href="index.html">DRINK</a></li>
          <li><a href="index.html">DANCE</a></li>
          <li><a href="index.html">SLEEP</a></li>
        </ul>
      </div>
    </div>
  <div align="center">

  <div class="text">
      <div>Where to?
          <span>
              TLV
          </span>
      </div>
      </div>

  <input class="button" placeholder="Search..." />
  <script src='http://use.edgefonts.net/amaranth.js'></script>
<!--

    <div id="list">
      <ol>
      <ul id="list_item">
        <li>Cakes<ul>
          <br><li>Plain Sponge</a></li>
          <br><li>Chocolate Cake</a></li>
          <br><li>Apple Tea Cake</a></li>
        </ul></li>
        <br>

        <li>Biscuits     <ul>
            <br><li>ANZAC Biscuits</a></li>
            <br><li>Jam Drops</a></li>
            <br><li>Melting Moments</a></li>
        </ul>


        </li>
      </ul>
      </ol>
    </div>
-->
  </div>
<div>
  <ul id = "list_photos">
    <li id = "item_photo">
      <img src="images/01.jpg" >
      <h3>The Grasslands</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
    </li>

    <li>
      <img src="images/02.jpg" >
      <h3>Paradise Found</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
    </li>

    <li>
      <img src="images/03.jpg" >
      <h3>Smoke On The Water</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
    </li>

    <li>
      <img src="images/04.jpg" >
      <h3>Headline</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet.</p>
    </li>
  </ul>
</div>
</body>

