
<div>
    <div id="menubar">
        <ul id="menu">
          <!--li><a ui-sref=".rests" ui-sref-active="active">EAT</a></li-->
          <li ng-class="{'selected': state.includes('**.home.**')}"><a ui-sref=".home">HOME</a></li>
          <li ng-class="{'selected': state.includes('**.rests.**')}"><a ui-sref=".rests">EAT</a></li>
          <li ng-class="{'selected': state.includes('**.bars.**')}"><a ui-sref=".bars">DRINK</a></li>
          <li ng-class="{'selected': state.includes('**.clubs.**')}"><a ui-sref=".clubs">DANCE</a></li>
          <li ng-class="{'selected': state.includes('**.hotels.**')}"><a ui-sref=".hotels">SLEEP</a></li>
        </ul>
    </div>

    <ui-view></ui-view>

</div>
