<div class="list-wrapper">
    <div class="item_photo">
        <ul>
            <li ng-repeat="place in places | orderBy : place.dist_from_me" ng-click="open_place(place)">
                <img ng-src="{{ place.image_url }}">
                <h3>{{ place.name }}</h3>
                <p ng-show="state.includes('**.home.**')">{{ place.type }}, ☆{{ place.rating}}</p>
                <p ng-show="!state.includes('**.home.**')">{{ place.dist_from_me | number : 2 }} Km From You<br>{{ place.rating}}☆</p>
            </li>
        </ul>
        <button ng-click="show_more_clicked()">Show More..</button>
    </div>
</div>